.vignette {
  position: relative;
  z-index: 0;
}

.vignette::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #1818183d 0%, #181818 100%);
}

.vignette::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: #181818; /* Adjust color and opacity as needed */
}

/* Example usage */
.vinyl-image {
  background-image: url("/waveform-duiloh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(75px);
  z-index: 0;
}
.services-image {
  background-image: url("/waveform-duiloh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(75px);
  z-index: 0;
}
